.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
  
.right h2 {
    padding: 2rem;
    border-bottom: 1px solid var(--logo-color);
    color: var(--logo-color);
}

.faq-list {
    list-style: none;
    padding-left: 0;
    font-family: var(--default-font);
}
  
.knap1 {
    width: 100%;
    background: var(--background-color);
    border: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--logo-color);
}

.label {
    padding-left: 0.6cm;
}
  
.content {
    display: none;
    padding-right: 2.5cm;
    padding-left: 1.5cm;
    padding-top: 0%;
    padding-bottom: 1rem;
    background: var(--background-color);
    border-bottom: 1px solid var(--logo-color);
    line-height: 0.7cm;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.icon .close {
    display: none;
}
  
.knap1.active .plus {
    display: none;
}
  
.knap1.active .close {
    display: inline;
}

.knap1.active {
    border-bottom: none;
}