html,
body,
header,
footer,
main,
nav,
ul,
#main-disclamer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: Anton;
    src: url(../font/Anton-Regular.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(../font/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Inter-Semibold;
    src: url(../font/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: Inter-Blackitalic;
    src: url(../font/Inter_24pt-BlackItalic.ttf);
}

h1 {
    font-family: var(--headline-font);
}

h2 {
    font-family: var(--secondary-headline-font);
}

body {
    background-color: var(--background-color);
}

/* Navbar */
ul, li {
    list-style-type: none;
}

.navbar-flex a {
    font-family: var(--default-font);
    text-decoration: none;
    color: var(--logo-color);
    
}

.navbar-flex a:hover, .burger-menu a:hover {
    text-decoration: underline;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px var(--logo-color);
  background-color: var(--background-color);
}

.navbar-flex a:not(.centered-logo) {
  flex: 1 0 auto;
  text-align: center;
}

.logo {
   padding: 10px;
}

.logo-pic {
    height: 2rem;
    width: auto;
}

header{
    border-bottom: 1px var(--logo-color) solid;
}

.burger {
    padding-right: 15px;
    cursor: pointer;
}

.burger-menu{
    display: flex;
    flex-flow: column;
}

.burger-menu a {
    text-align: center;
    text-decoration: none;
    color: var(--logo-color);
    font-family: var(--default-font);
    display: block;
    width: 100%;
    padding: 1rem 0 1rem;
}

.burger-menu a:not(:last-child) {
    border-bottom: 1px var(--logo-color) solid;
}

.burger-menu a:first-child{
    border-top: 1px var(--logo-color) solid;
}

/* Footer */
.footer-flex {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px var(--logo-color) solid;
}

.footer-flex li a {
    padding-left: 1rem;
    padding-right: 1rem;
    
}